<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>com.bankcustomer.action.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.bankcustomer.action.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControllerUpdate</servlet-name>
        <servlet-class>com.bankcustomer.action.UserControllerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>com.bankcustomer.action.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferFund</servlet-name>
        <servlet-class>com.bankcustomer.action.TransferFund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePwd</servlet-name>
        <servlet-class>com.bankcustomer.action.ChangePwd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControllerUpdate</servlet-name>
        <url-pattern>/UserControllerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferFund</servlet-name>
        <url-pattern>/TransferFund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePwd</servlet-name>
        <url-pattern>/ChangePwd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
